<footer>
    Copyright 2011 by <a href="http://domain.invalid/">MOMO</a>

    {% if showDebug %}
    <div id="debug">

    <div class="jumbotron">
        <h3 class="display-3">Debug</h3>
        {# <h4>user</h4>
        <p>{{app.user}}</p> #}
        <h4>Session</h4>
        <pre>
            {{ dump(app.session) }}
        </pre>
        <h4>Environment</h4>
        <pre>
            {{ dump(app.environment) }}
        </pre>
        <h4>Request</h4>
        <p>{{app.request}}</p>
    </div> 
    {% endif %}
</footer>